<!DOCTYPE html>
<html>
<head>
  <title>MessageBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<style type="text/css">
<!--
form {
     height: 30px; 
     margin:0;
     padding:0;
     border:0;
     outline:0;
     font-size:100%;
     vertical-align:baseline;
     background:transparent;
}
input, textarea, button { 
     vertical-align:middle; 
     font-family:"ＭＳ Ｐゴシック", arial, helvetica, clean, sans-serif; 
     position:relative; 
     margin: 0 4px 0px 0;
     *margin-right:5px; 
     height: 30px; 
     line-height: 30px; 
}
-->
</style>

</head>
<body>
    <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Message Board</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>